# Erasmus Q-Intelligence
## DSBA - Programming

### Functions - Exercises

#### Execise 1: Writing our own functions

### a 
 Write your own function with 2 arguments and return value the product of the two arguments.

### b 
 Drop the second argument from your function call. Would your function still work? When would it (not)?

See the following function.

In [ ]:
a = 1
b = 2
c = 3
def get_something(b, d = 4):
    c = 5
    e = a + d * c ** b
    print('e equals', e)

### c
#### What would be the result of:
---
1.  get_something(b)
2.  get_something(1)
3. get_something(a)
4.  get_something(d = 2)
5.  get_something(a = 2)
6. get_something(b, d = 3)
7.  get_something (3, d = 1)

Why?

### d
Call the create_plot function using the appropriate input values to display a scatter plot.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
storms = pd.read_csv("storms.csv")

def create_plot(dataframe, x_col, y_col):
    """Create a scatter plot from two DataFrame columns using seaborn."""
    plt.figure(figsize=(6,4))
    sns.scatterplot(data=dataframe, x=x_col, y=y_col, alpha=0.7)
    plt.title(f"Scatter plot of {y_col} vs {x_col}")
    return plt

### Exercise 2 – Functions

### a 
 Create a function with 2 input arguments with the maximum of these inputs as
output.

### b
 Break the function isolation and see what happens. (Use a variable that was created outside of the function and use it in the function)

### Bonus: 
What is going wrong here, and why? If we want this function to work, how do we
solve it?

In [ ]:
def max(a, b):         
    c = max(a, b)       
    return(c)          

max(1, 2)

#### Q3 

You have the following repeated code to get grouped rows:

In [ ]:
import pandas as pd
mtcars = pd.read_csv('mtcars.csv')
storms = pd.read_csv('storms.csv')

(storms
.groupby('year')
.agg(group_count = ('year', len)))

(mtcars
.groupby('carb')
.agg(group_count = ('carb', len)))

(mtcars
.groupby('cyl')
.agg(group_count = ('cyl', len)))

This repeats the same pattern with only small changes. Refactor this into a single function. Follow these steps:

1. Copy one block of code.

2. Turn it into a function (write the function header and body).

3. Identify the parts that change (dataset? variable to group by?).
4. Replace the hard-coded values with parameters (add defaults if necessary).

## Exercise 4 – Reusability

We are using data on animal species diversity and weights found within plots at a study site.  
The dataset is stored as a csv file.  
Each row holds information for a single animal, with the following columns:

| Column            | Description                           |
|-------------------|---------------------------------------|
| `record_id`       | Unique observation ID                 |
| `month`           | Month of observation                  |
| `day`             | Day of observation                    |
| `year`            | Year of observation                   |
| `plot_id`         | ID of the particular plot             |
| `species_id`      | Species ID (2-letter code)            |
| `sex`             | Sex of the animal (`'F'` or `'M'`)    |
| `hindfoot_length` | Length of hindfoot (mm)               |
| `weight`          | Weight (grams)                        |
| `genus`           | Genus (Latin group name)              |
| `species`         | Species (Latin name)                  |
| `taxa`            | Class of animals                      |
| `plot_type`            | type of plot                     |

In [ ]:
animal_species = pd.read_csv('animal_species.csv')

### a 

Write a function that:  
- Takes a dataset, a variable (column), and a grouping column as inputs.  
- Groups the data by the chosen grouping column.  
- For the chosen variable, calculates the following within each group:  
  - **Average** (mean)  
  - **Standard deviation**  
  - **Number of rows** (len)  

The function should return a summary table with these statistics.

### b

Answer the following questions by using the function from a:
1. What is the average weight in 1989?
2. What is standard deviation of hindfoot_length for taxa ‘Rodent’?
3. How many non-missing weight rows has the genus ‘Onychomys’?

### Bonus: 

Using lambdas, add 25th percentile and 75th percentile to the function aggregation. (np.percentile(x, q = 25) can be used as argument). Afterwards get the q25 amd q75 of weight in year 1977

In [ ]:
# We need to remove the NA values in weight, otherwise the quartiles will be NA
animal_species = animal_species.query('weight.notnull()')