# Introduction Slides

---
Erasmus Q-Intelligence B.V.

---

## Installing packages with pip

Check pip version

In [26]:
pip --version

pip 24.3.1 from /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/pip (python 3.12)
Note: you may need to restart the kernel to use updated packages.

Get list of installed packages

In [3]:
pip list

Package                 Version
----------------------- -----------
appnope                 0.1.4
asttokens               3.0.0
comm                    0.2.3
debugpy                 1.8.16
decorator               5.2.1
executing               2.2.1
ipykernel               6.30.1
ipython                 9.5.0
ipython_pygments_lexers 1.1.1
jedi                    0.19.2
jupyter_client          8.6.3
jupyter_core            5.8.1
matplotlib-inline       0.1.7
nest-asyncio            1.6.0
packaging               25.0
parso                   0.8.5
pexpect                 4.9.0
pip                     24.3.1
platformdirs            4.4.0
prompt_toolkit          3.0.52
psutil                  7.0.0
ptyprocess              0.7.0
pure_eval               0.2.3
Pygments                2.19.2
python-dateutil         2.9.0.post0
pyzmq                   27.0.2
six                     1.17.0
stack-data              0.6.3
tornado                 6.5.2
traitlets               5.14.3
wcwidth                 0.2.13
Note: you may need to restart the kernel to use updated packages.

Install package (replace `<package_name>` with the package you wish to install)

In [28]:
pip install pandas

Collecting pandas
  Using cached pandas-2.3.2-cp312-cp312-macosx_11_0_arm64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.3.2-cp312-cp312-macosx_14_0_arm64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/adilvural/Library/Python/3.12/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/adilvural/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.2-cp312-cp312-macosx_11_0_arm64.whl (10.7 MB)
Using cached numpy-2.3.2-cp312-cp312-macosx_14_0_arm64.whl (5.1 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.3.2 pandas-2.3.2 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

## A package is a collection of modules. Modules define functions, classes and objects.

#### Importing installed modules

Import complete module

In [29]:
import math
math.sqrt(25)

5.0

Import specific things from a module

In [8]:
from math import sqrt
sqrt(25)

5.0

Import module using an alias

In [9]:
import math as m
m.sqrt(25)

5.0

## Using the help function

The help() function can be used to get the documentation of
a function.


Get the help of the `math.sqrt()` function

In [30]:
help(math.sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

Get the help of the `math.pow()`
function

In [31]:
help(math.pow)

Help on built-in function pow in module math:

pow(x, y, /)
    Return x**y (x to the power of y).

# Functions and methods

1. Functions exist on their own, and are not tied to any object.
2. Functions are called by using their name, and they use objects that are passed as parameters.

In [21]:
age = [20,22,52]
# Built in function
len(age)

3

In [ ]:
#Function from package
math.pow(5,2)

25.0

3. Methods are associated with objects.
4. Methods are called on the object, and they can use the object they are associated with.
5. For example, df.head() returns the first five lines of the df object.

## View CSV datasets

Use pandas to import `iris.csv`.

In [32]:
import pandas as pd
#File paths are relative to the location of the notebook.
df = pd.read_csv("iris.csv")
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

Display first 5 rows

In [33]:
# Is a method on the df object. It already knows the context of df.
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Dipslay last 5 rows

In [34]:
df.tail()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

Get a summary of the data

In [35]:
#Get overview of the marginal distributions of the variables
df.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000