# Day 1 Eindopdracht “Statistics for Data Science”

Voor deze eindopdracht zijn er twee mogelijkheden. Hieronder volgt ten eerste de
beschrijving van een opdracht gebaseerd op een dataset over universiteiten in de Verenigde
Staten. Het is ook mogelijk om de eindopdracht te baseren op een eigen (bedrijfs)dataset.
Aan het einde van dit document volgt meer informatie hierover.

Voor beide opdrachten geldt dat de resultaten in drie delen ingeleverd moeten worden,
telkens samengevat in een bondig rapport. In dit rapport moet voor elke deelanalyse dui-
delijk zijn wat het doel van de berekening is, wat de uitkomst is en vooral wat de conclusie
is.

Zorg ervoor dat er voldoende details gegeven zijn, bijvoorbeeld bij het uitvoeren van
een statistische toets is het van belang om:
1. de keuze van de toets duidelijk te motiveren;
2. de nul- en alternatieve hypothese te beschrijven;
3. de p-waarde te rapporteren;
4. de uiteindelijke conclusie te rapporteren in termen van de toepassing (dus niet alleen
“de nul-hypothese wordt verworpen”, maar ook wat dit dan betekent).


Voor elk deel van de opdracht moet een rapport in pdf formaat ingeleverd worden, sa-
men met de volledige Python (of R) code in een apart bestand. Het inleveren verloopt via
Canvas (zie onder “Assignments”). Het verwerken van de resultaten met behulp van bij-
voorbeeld een Jupyter Notebook of R-Markdown is prima, maar probeer onnodige output
te vermijden en lever ook altijd een pdf versie in.
De deadlines zijn als volgt:
Deel 1: zondag, 28 september (voor het einde van de dag);
Deel 2: zondag, 12 oktober (voor het einde van de dag);
Deel 3: zondag, 26 oktober (voor het einde van de dag).

## 1 Opdracht obv. universiteitsdata
Het databestand college statistics.csv bevat informatie over 777 universiteiten en
colleges in de Verenigde Staten in ´e´en specifiek jaar.

De variabelen in deze dataset zijn:

    01. Private: Public/private indicator
    02. Apps: Number of applications received
    03. Accept: Number of applicants accepted
    04. Enroll: Number of new students enrolled
    05. Top10perc: Percentage of new students who were in the top 10% in their high school class
    06. Top25perc: Percentage of new students who were in the top 25% of their high school class
    07. F.Undergrad: Number of full-time undergraduates
    08. P.Undergrad: Number of part-time undergraduates
    09. Outstate: Out-of-state tuition
    10. Room.Board: Room and board costs
    11. Books: Estimated book costs
    12. Personal: Estimated personal spending
    13. PhD: Percent of faculty with Ph.D.’s
    14. Terminal: Percent of faculty with terminal degree
    15. S.F.Ratio: Student/faculty ratio
    16. perc.alumni: Percent of alumni who donate
    17. Expend: Instructional expenditure per student
    18. Grad.Rate: Graduation rate

In deze opdracht voer je een gedetailleerde statistische analyse uit op deze dataset.
Hieronder vind je een lijst van stappen die uitgevoerd moeten worden.

# Deel 1

1. Lees de data in als dataframe.
inlezen csv-file

In [19]:
import sys, importlib.util, pprint
print("PYTHON:", sys.executable)
print("VERSIE:", sys.version)
pprint.pprint(sys.path[:3])
print("SEABORN SPEC:", importlib.util.find_spec("seaborn"))

PYTHON: /usr/local/bin/python3
VERSIE: 3.13.7 (v3.13.7:bcee1c32211, Aug 14 2025, 19:10:51) [Clang 16.0.0 (clang-1600.0.26.6)]
['/Library/Frameworks/Python.framework/Versions/3.13/lib/python313.zip',
 '/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13',
 '/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/lib-dynload']
SEABORN SPEC: None

In [20]:
!pip install seaborn

zsh:1: command not found: pip

In [21]:
import matplotlib.pyplot as plt
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [3]:
DATA_PATH = "/Users/adilvural/Documents/GitHub/myPython/Opdracht_StatisticsforDataScience/college_statistics.csv"
FIG_DIR   = "/Users/adilvural/Documents/GitHub/myPython/Opdracht_StatisticsforDataScience/college_statistics"
#os.makedirs(FIG_DIR, exist_ok=True)

In [6]:
df = pd.read_csv(DATA_PATH, sep=",")
df.columns = [c.replace(".", "_") for c in df.columns]

print (df.info())
print (df.head())
print (df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   777 non-null    object
 1   Private      777 non-null    object
 2   Apps         777 non-null    int64
 3   Accept       777 non-null    int64
 4   Enroll       777 non-null    int64
 5   Top10perc    777 non-null    int64
 6   Top25perc    777 non-null    int64
 7   F_Undergrad  777 non-null    int64
 8   P_Undergrad  777 non-null    int64
 9   Outstate     777 non-null    int64
 10  Room_Board   777 non-null    int64
 11  Books        777 non-null    int64
 12  Personal     777 non-null    int64
 13  PhD          777 non-null    int64
 14  Terminal     777 non-null    int64
 15  S_F_Ratio    777 non-null    float64
 16  perc_alumni  777 non-null    int64
 17  Expend       777 non-null    int64
 18  Grad_Rate    777 non-null    int64
dtypes: float64(1), int64(16), object(2)
memory usage: 115.5+ KB
None
                     Unnamed: 0 Private  Apps  Accept  Enroll  Top10perc  \
0  Abilene Christian University     Yes  1660    1232     721         23
1            Adelphi University     Yes  2186    1924     512         16
2                Adrian College     Yes  1428    1097     336         22
3           Agnes Scott College     Yes   417     349     137         60
4     Alaska Pacific University     Yes   193     146      55         16

   Top25perc  F_Undergrad  P_Undergrad  Outstate  Room_Board  Books  Personal  \
0         52         2885          537      7440        3300    450      2200
1         29         2683         1227     12280        6450    750      1500
2         50         1036           99     11250        3750    400      1165
3         89          510           63     12960        5450    450       875
4         44          249          869      7560        4120    800      1500

   PhD  Terminal  S_F_Ratio  perc_alumni  Expend  Grad_Rate
0   70        78       18.1           12    7041         60
1   29        30       12.2           16   10527         56
2   53        66       12.9           30    8735         54
3   92        97        7.7           37   19016         59
4   76        72       11.9            2   10922         15
               Apps        Accept       Enroll   Top10perc   Top25perc  \
count    777.000000    777.000000   777.000000  777.000000  777.000000
mean    3001.638353   2018.804376   779.972973   27.558559   55.796654
std     3870.201484   2451.113971   929.176190   17.640364   19.804778
min       81.000000     72.000000    35.000000    1.000000    9.000000
25%      776.000000    604.000000   242.000000   15.000000   41.000000
50%     1558.000000   1110.000000   434.000000   23.000000   54.000000
75%     3624.000000   2424.000000   902.000000   35.000000   69.000000
max    48094.000000  26330.000000  6392.000000   96.000000  100.000000

        F_Undergrad   P_Undergrad      Outstate   Room_Board        Books  \
count    777.000000    777.000000    777.000000   777.000000   777.000000
mean    3699.907336    855.298584  10440.669241  4357.526384   549.380952
std     4850.420531   1522.431887   4023.016484  1096.696416   165.105360
min      139.000000      1.000000   2340.000000  1780.000000    96.000000
25%      992.000000     95.000000   7320.000000  3597.000000   470.000000
50%     1707.000000    353.000000   9990.000000  4200.000000   500.000000
75%     4005.000000    967.000000  12925.000000  5050.000000   600.000000
max    31643.000000  21836.000000  21700.000000  8124.000000  2340.000000

          Personal         PhD    Terminal   S_F_Ratio  perc_alumni  \
count   777.000000  777.000000  777.000000  777.000000   777.000000
mean   1340.642214   72.660232   79.702703   14.089704    22.743887
std     677.071454   16.328155   14.722359    3.958349    12.391801
min     250.000000    8.000000   24.000000    2.500000     0.000000
25%     850.000000   62.000000   71.000000   11.500000    13.000000
50%    1200.000000   75.000000   82.000000   13.600000    21.000000
75%    1700.000000   85.000000   92.000000   16.500000    31.000000
max    6800.000000  103.000000  100.000000   39.800000    64.000000

             Expend  Grad_Rate
count    777.000000  777.00000
mean    9660.171171   65.46332
std     5221.768440   17.17771
min     3186.000000   10.00000
25%     6751.000000   53.00000
50%     8377.000000   65.00000
75%    10830.000000   78.00000
max    56233.000000  118.00000

2. Voer beschrijvende statistiek uit door middel van het maken van een aantal grafieken. Creeer geschikte grafieken om de volgende vragen te beantwoorden:
(a) Zijn private universiteiten overwegend kleiner of groter dan publieke universiteiten? Je mag zelf een definitie voor groot/klein definieeren.
(b) Zijn de meer selectieve universiteiten ook overwegend duurder dan minder selectieve universiteiten? (Je mag zelf bepalen welke kosten je wel/niet mee neemt.)
(c) Bedenk zelf een extra vraag en cre¨ eer een geschikte figuur om deze vraag meete beantwoorden.

In [ ]:
# Voeg een kolom toe om de gemiddelde grootte te definiëren
df['Size'] = df['Enroll'].apply(lambda x: 'Groot' if x > df['Enroll'].median() else 'Klein')
# Maak een boxplot om de grootte van private versus publieke universiteiten te vergelijken
plt.figure(figsize=(10, 6))
sns.boxplot(x='Private', y='Enroll', data=df)
plt.title('Grootte van Universiteiten: Privé vs. Publiek')
plt.ylabel('Aantal Nieuwe Studenten Ingeschreven')
plt.xlabel('Type Universiteit')
plt.show()

ModuleNotFoundError: No module named 'seaborn'

We can use the ```len()``` function to find out how many elements the list holds.

In [ ]:
len(age)

5

Use the ```sum()``` function to display the sum of the age list.

In [ ]:
sum(age)

110.2

Combine above functions to calculate the mean age of the students.

In [ ]:
sum(age) / len(age)

22.04

Store the mean age in a variable.

In [ ]:
mean_age = sum(age) / len(age)

Print the mean age.

In [ ]:
mean_age

22.04

So far, every cell contained just one line of code. Code cells can hold as many lines as you want.

In [ ]:
# Print the length of the list
print("There are", len(age), "elements in the age list")

# Store the mean age in a variable
mean_age = sum(age) / len(age)

# Print the mean_age
print("The mean age of the", len(age), "students is:", mean_age)

There are 5 elements in the age list
The mean age of the 5 students is: 22.04

Use the ```help()``` function to get more info on what a function does and which parameters it expects.

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.