# Day 1 Eindopdracht “Statistics for Data Science”

Voor deze eindopdracht zijn er twee mogelijkheden. Hieronder volgt ten eerste de
beschrijving van een opdracht gebaseerd op een dataset over universiteiten in de Verenigde
Staten. Het is ook mogelijk om de eindopdracht te baseren op een eigen (bedrijfs)dataset.
Aan het einde van dit document volgt meer informatie hierover.

Voor beide opdrachten geldt dat de resultaten in drie delen ingeleverd moeten worden,
telkens samengevat in een bondig rapport. In dit rapport moet voor elke deelanalyse dui-
delijk zijn wat het doel van de berekening is, wat de uitkomst is en vooral wat de conclusie
is.

Zorg ervoor dat er voldoende details gegeven zijn, bijvoorbeeld bij het uitvoeren van
een statistische toets is het van belang om:
1. de keuze van de toets duidelijk te motiveren;
2. de nul- en alternatieve hypothese te beschrijven;
3. de p-waarde te rapporteren;
4. de uiteindelijke conclusie te rapporteren in termen van de toepassing (dus niet alleen
“de nul-hypothese wordt verworpen”, maar ook wat dit dan betekent).


Voor elk deel van de opdracht moet een rapport in pdf formaat ingeleverd worden, sa-
men met de volledige Python (of R) code in een apart bestand. Het inleveren verloopt via
Canvas (zie onder “Assignments”). Het verwerken van de resultaten met behulp van bij-
voorbeeld een Jupyter Notebook of R-Markdown is prima, maar probeer onnodige output
te vermijden en lever ook altijd een pdf versie in.
De deadlines zijn als volgt:
Deel 1: zondag, 28 september (voor het einde van de dag);
Deel 2: zondag, 12 oktober (voor het einde van de dag);
Deel 3: zondag, 26 oktober (voor het einde van de dag).

## 1 Opdracht obv. universiteitsdata
Het databestand college statistics.csv bevat informatie over 777 universiteiten en
colleges in de Verenigde Staten in ´e´en specifiek jaar.

De variabelen in deze dataset zijn:

    01. Private: Public/private indicator
    02. Apps: Number of applications received
    03. Accept: Number of applicants accepted
    04. Enroll: Number of new students enrolled
    05. Top10perc: Percentage of new students who were in the top 10% in their high school class
    06. Top25perc: Percentage of new students who were in the top 25% of their high school class
    07. F.Undergrad: Number of full-time undergraduates
    08. P.Undergrad: Number of part-time undergraduates
    09. Outstate: Out-of-state tuition
    10. Room.Board: Room and board costs
    11. Books: Estimated book costs
    12. Personal: Estimated personal spending
    13. PhD: Percent of faculty with Ph.D.’s
    14. Terminal: Percent of faculty with terminal degree
    15. S.F.Ratio: Student/faculty ratio
    16. perc.alumni: Percent of alumni who donate
    17. Expend: Instructional expenditure per student
    18. Grad.Rate: Graduation rate

In deze opdracht voer je een gedetailleerde statistische analyse uit op deze dataset.
Hieronder vind je een lijst van stappen die uitgevoerd moeten worden.

# Deel 1

1. Lees de data in als dataframe.
inlezen csv-file

In [21]:
!pip install seaborn

13331.06s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Requirement already satisfied: seaborn in /opt/anaconda3/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /opt/anaconda3/lib/python3.12/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in /opt/anaconda3/lib/python3.12/site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /opt/anaconda3/lib/python3.12/site-packages (from seaborn) (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [28]:
import matplotlib.pyplot as plt
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid")

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
DATA_PATH = "/Users/adilvural/Documents/GitHub/myPython/Opdracht_StatisticsforDataScience/college_statistics.csv"
FIG_DIR   = "/Users/adilvural/Documents/GitHub/myPython/Opdracht_StatisticsforDataScience/college_statistics"
#os.makedirs(FIG_DIR, exist_ok=True)

In [15]:
df = pd.read_csv(DATA_PATH, sep=",")
df.columns = [c.replace(".", "_") for c in df.columns]

print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   777 non-null    object
 1   Private      777 non-null    object
 2   Apps         777 non-null    int64
 3   Accept       777 non-null    int64
 4   Enroll       777 non-null    int64
 5   Top10perc    777 non-null    int64
 6   Top25perc    777 non-null    int64
 7   F_Undergrad  777 non-null    int64
 8   P_Undergrad  777 non-null    int64
 9   Outstate     777 non-null    int64
 10  Room_Board   777 non-null    int64
 11  Books        777 non-null    int64
 12  Personal     777 non-null    int64
 13  PhD          777 non-null    int64
 14  Terminal     777 non-null    int64
 15  S_F_Ratio    777 non-null    float64
 16  perc_alumni  777 non-null    int64
 17  Expend       777 non-null    int64
 18  Grad_Rate    777 non-null    int64
dtypes: float64(1), int64(16), object(2)
memory usage: 115.5+ KB
None

2. Voer beschrijvende statistiek uit door middel van het maken van een aantal grafieken. Creeer geschikte grafieken om de volgende vragen te beantwoorden:
(a) Zijn private universiteiten overwegend kleiner of groter dan publieke universiteiten? Je mag zelf een definitie voor groot/klein definieeren.
(b) Zijn de meer selectieve universiteiten ook overwegend duurder dan minder selectieve universiteiten? (Je mag zelf bepalen welke kosten je wel/niet mee neemt.)
(c) Bedenk zelf een extra vraag en cre¨ eer een geschikte figuur om deze vraag meete beantwoorden.

In [ ]:
# Voeg een kolom toe om de gemiddelde grootte te definiëren
df['Size'] = df['Enroll'].apply(lambda x: 'Groot' if x > df['Enroll'].median() else 'Klein')
# Maak een boxplot om de grootte van private versus publieke universiteiten te vergelijken
plt.figure(figsize=(10, 6))
sns.boxplot(x='Private', y='Enroll', data=df)
plt.title('Grootte van Universiteiten: Privé vs. Publiek')
plt.ylabel('Aantal Nieuwe Studenten Ingeschreven')
plt.xlabel('Type Universiteit')
plt.show()

ModuleNotFoundError: No module named 'seaborn'

We can use the ```len()``` function to find out how many elements the list holds.

In [ ]:
len(age)

5

Use the ```sum()``` function to display the sum of the age list.

In [ ]:
sum(age)

110.2

Combine above functions to calculate the mean age of the students.

In [ ]:
sum(age) / len(age)

22.04

Store the mean age in a variable.

In [ ]:
mean_age = sum(age) / len(age)

Print the mean age.

In [ ]:
mean_age

22.04

So far, every cell contained just one line of code. Code cells can hold as many lines as you want.

In [ ]:
# Print the length of the list
print("There are", len(age), "elements in the age list")

# Store the mean age in a variable
mean_age = sum(age) / len(age)

# Print the mean_age
print("The mean age of the", len(age), "students is:", mean_age)

There are 5 elements in the age list
The mean age of the 5 students is: 22.04

Use the ```help()``` function to get more info on what a function does and which parameters it expects.

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.