# Descriptive statistics

---
Erasmus Q-Intelligence B.V.

---

Below is a set of exercises. For every question, an empty code cell is provided where you can add your code that serves as an answer to the question. If there are additional questions regarding interpreting what you see, you can do so by adding comments (start with `#`), or adding a *Markdown* cell below or above the *Code* cell, and providing your findings there.

## Exercise 1.1 (Data loading and exploration)

Download the house price data in the file
`forsale.csv` from Canvas by saving it directly to disk. Store it in an appropriate folder.

### a
Load the `forsale.csv` file into the notebook and name it `forsale`. Hint: use the appropriate function from the `pandas` module.

In [2]:
import pandas as pd
forsale = pd.read_csv("forsale.csv")

### b
Display the contents of the `forsale` data, and provide an answer to the following questions:
- Are all rows of the `DataFrame` displayed? How can you tell? 
- What about the columns?
- How many rows and columns does the DataFrame contain?

In [3]:
forsale

# Not all rows are displayed. This is indicated by the row containing only cells with ...

# The same goes for the columns. This is indicated by the column containing only cells with ...

# The DataFrame contains 3383 rows and 21 columns, indicated below the displayed DataFrame.

,postcode,pc_numeric,pc_character,city,suburb,latitude,longitude,asking_price,offered_since,living_area,...,type_build,volume,nr_rooms,build_year,bedrooms,bathrooms,alarm,jacuzzi,sauna,bath
0,3112 AA,3112,AA,Schiedam,Rotterdamsedijk,51.91395,4.411872,89500.0,2 months,66,...,Existing,185,3,1951,2,1,0,0,0,0.0
1,3028 BW,3028,BW,Rotterdam,Oud-Mathenesse,51.91450,4.417260,75000.0,2 months,60,...,Existing,180,3,1950,2,1,0,0,0,0.0
2,3039 XM,3039,XM,Rotterdam,Blijdorp,51.92686,4.458871,238000.0,2 months,110,...,Existing,300,4,1939,3,1,0,0,0,0.0
3,3112 MA,3112,MA,Schiedam,Newtonbuurt,51.91765,4.411336,109000.0,2 months,55,...,Existing,160,3,1935,2,1,0,0,0,0.0
4,2907 MG,2907,MG,Capelle aan den IJssel,Kunstenaarsbuurt,51.95222,4.585006,119000.0,2 months,76,...,Existing,200,3,1984,2,1,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3378,2907 JG,2907,JG,Capelle aan den IJssel,Operabuurt,51.94760,4.588990,139000.0,7 weeks,65,...,Existing,170,3,1980,2,1,0,0,0,0.0
3379,2907 WE,2907,WE,Capelle aan den IJssel,Gebouwenbuurt,51.95037,4.595196,140000.0,7 weeks,65,...,Existing,212,3,1980,2,1,0,0,0,1.0
3380,3112 LE,3112,LE,Schiedam,Rotterdamsedijk,51.91560,4.412006,128500.0,7 weeks,85,...,Existing,225,4,1940,3,1,0,0,0,0.0
3381,3112 EJ,3112,EJ,Schiedam,Rotterdamsedijk,51.91520,4.406966,149000.0,8 weeks,100,...,Existing,275,5,1933,3,1,0,0,0,0.0
3382,3066 AV,3066,AV,Rotterdam,Prinsenland,51.93777,4.553001,215000.0,2 weeks,90,...,Existing,260,4,2011,3,1,0,0,0,0.0

### c
If not all columns were visible in question **b**, how can you retrieve all column names?

In [4]:
forsale.columns.values

array(['postcode', 'pc_numeric', 'pc_character', 'city', 'suburb',
       'latitude', 'longitude', 'asking_price', 'offered_since',
       'living_area', 'available_now', 'type_build', 'volume', 'nr_rooms',
       'build_year', 'bedrooms', 'bathrooms', 'alarm', 'jacuzzi', 'sauna',
       'bath'], dtype=object)

### d
Use the `describe()` method on the `DataFrame` object to see what output this gives you.
Note down some of the key points that you have learned about the data.

In [ ]:
forsale.describe()

,pc_numeric,latitude,longitude,asking_price,living_area,available_now,volume,nr_rooms,bedrooms,bathrooms,alarm,jacuzzi,sauna,bath
count,3383.000000,3383.000000,3383.000000,3.383000e+03,3383.000000,3383.000000,3383.000000,3383.000000,3383.000000,3383.000000,3383.000000,3383.000000,3383.000000,3364.000000
mean,3016.078037,51.914564,4.512907,2.837915e+05,117.621933,0.038427,366.618682,4.146911,2.871711,1.125037,0.064735,0.028082,0.014484,0.521998
std,135.092919,0.041692,0.076574,2.778955e+05,64.267932,0.192254,291.565008,1.577674,1.277602,0.363190,0.246095,0.165230,0.119493,0.499590
min,2641.000000,51.827820,4.382499,5.950000e+04,40.000000,0.000000,100.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,2954.000000,51.885160,4.462559,1.349495e+05,75.000000,0.000000,215.000000,3.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,3054.000000,51.914710,4.503749,1.995000e+05,102.000000,0.000000,300.000000,4.000000,3.000000,1.000000,0.000000,0.000000,0.000000,1.000000
75%,3082.000000,51.942250,4.576634,3.250000e+05,139.500000,0.000000,425.000000,5.000000,4.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,3351.000000,52.007600,4.673501,4.500000e+06,758.000000,1.000000,7800.000000,16.000000,13.000000,4.000000,1.000000,1.000000,1.000000,1.000000

## Exercise 1.2 (Univariate summary statistics)

Now that you are familiar with the basics of the
data, let’s answer some simple but important questions. Remember that you can extract a single
column vector from a data frame using `df['column_key']`.

### a
What is the mean living area of a house in this data set? Include code to calculate this
using the `mean()` method.

In [6]:
forsale['living_area'].mean()

np.float64(117.6219331953887)

### b
How does that compare to the median price? Can you say something about the expected
skewness of the data based on the mean and median?.

In [7]:
forsale['living_area'].median()

## skewed to the right (median < mean)

np.float64(102.0)

### c

What is the least amount of bedrooms any house has in the dataset? And the most bedrooms? Use the `min()` and `max()` methods to answer this question

In [8]:
forsale['bedrooms'].min()

np.int64(1)

In [9]:
forsale['bedrooms'].max()

np.int64(13)

### d

Calculate the median of the asking prices, as well as the standard deviation.

In [10]:
forsale['asking_price'].median()

np.float64(199500.0)

In [11]:
forsale['asking_price'].std()

np.float64(277895.5000166092)

### e

What values do the variables `nr_rooms`, `jacuzzi`, `bathrooms` and `alarm` take? Make
frequency tables of counts for each of these variables separately using the `value_counts()` method.
How many houses have six rooms? How many have two bathrooms?

In [ ]:
forsale['nr_rooms'].value_counts()

NameError: name 'forsale' is not defined

In [13]:
forsale['jacuzzi'].value_counts()

jacuzzi
0    3288
1      95
Name: count, dtype: int64

In [14]:
forsale['bathrooms'].value_counts()

bathrooms
1    2994
2     359
3      26
4       4
Name: count, dtype: int64

In [15]:
forsale['alarm'].value_counts()

alarm
0    3164
1     219
Name: count, dtype: int64

### f

With `pd.crosstab()`, you can make a contingency table with two variables. Note that this is a function, called on the `pandas` (or the alias `pd`) module, not a method that is called on the `forsale` object. It requires *two* arguments, namely the two columns in the data with which you want to make the table. Make sure you actually provide the subsetted dataset (i.e. `df['column_key']`), not just the column key.

Make a contingency table for the columns `sauna` and `bath`. How many houses do have a sauna but don't have a bath? How many houses have neither?

In [16]:
pd.crosstab(forsale['sauna'], forsale['bath'])

bath    0.0   1.0
sauna
0      1596  1719
1        12    37