# Introduction Slides

---
Erasmus Q-Intelligence B.V.

---

## Installing packages with pip

Check pip version

In [ ]:
pip --version

Get list of installed packages

In [ ]:
pip list

Install package (replace `<package_name>` with the package you wish to install)

In [ ]:
#pip install <package_name>

## A package is a collection of modules. Modules define functions, classes and objects.

#### Importing installed modules

Import complete module

In [ ]:
import math
math.sqrt(25)

Import specific things from a module

In [ ]:
from math import sqrt
sqrt(25)

Import module using an alias

In [ ]:
import math as m
m.sqrt(25)

## Using the help function

The help() function can be used to get the documentation of
a function.


Get the help of the `math.sqrt()` function

In [ ]:
help(math.sqrt)

Get the help of the `math.pow()`
function

In [14]:
help(math.pow)

Help on built-in function pow in module math:

pow(x, y, /)
    Return x**y (x to the power of y).

# Functions and methods

1. Functions exist on their own, and are not tied to any object.
2. Functions are called by using their name, and they use objects that are passed as parameters.

In [ ]:
age = [20,22,52]
# Built in function
len(age)

(3,)

In [ ]:
#Function from package
math.pow(5,2)

25.0

3. Methods are associated with objects.
4. Methods are called on the object, and they can use the object they are associated with.
5. For example, df.head() returns the first five lines of the df object.

## View CSV datasets

Use pandas to import `iris.csv`.

In [ ]:
import pandas as pd
#File paths are relative to the location of the notebook.
df = pd.read_csv("iris.csv")
df

Display first 5 rows

In [17]:
# Is a method on the df object. It already knows the context of df.
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Dipslay last 5 rows

In [24]:
df.tail()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

Get a summary of the data

In [ ]:
#Get overview of the marginal distributions of the variables
df.describe()