# DSBA Programming & Visualization
## Assignment 02


| **Item**            | **Details**              |
|----------------------|--------------------------|
| Deadline             | 26 oktober, 23:59u       |
| Data                 | olympics_raw.csv, flags_raw.csv, gdp_raw.csv, population_raw.csv  |
| Aantal vragen        | 4                        |
| Author        | Adil Vural & Oktay Dogan                        |


Lever een script of jupyter 
notebook in met daarin je code om de vragen te beantwoorden én in commentaren (#) 
uitleg waar nodig/gevraagd. Lever het script / notebook in via Canvas.

Gebruik vooral de slides en oefeningen die we in de colleges hebben behandeld

## Data
In deze assignment maken we wederom gebruik van een dataset over de Olympische
Spelen, 1896-2022. Daarnaast zijn gegevens beschikbaar over vlaggen,
inwonersaantallen en GDP. Het betreft de ruwe databestanden zoals die zijn gebruikt
om olympics_prepared.csv te maken, het bestand dat we in assignment 01 hebben
gebruikt. (Let op: olympics_prepared bevat alleen data van 1960–2022; vergelijkingen kunnen daardoor afwijken.)


Hieronder volgt een viertal vragen over deze dataset die met Python kunnen worden
beantwoord.

## Q1 – Transformations
Lees de data in vanuit de 4 `.csv`-bestanden.

In [28]:
import pandas as pd
# Data inlezen 
flags_raw = pd.read_csv('flags_raw.csv')
gdp_raw = pd.read_csv('gdp_raw.csv')
olympics_raw = pd.read_csv('olympics_raw.csv')
population_raw = pd.read_csv('population_raw.csv')

# Eerste paar rijen tonen ter controle
print('flag columns:',flags_raw.columns)
print('gdp columns:',gdp_raw.columns)
print('olympics columns:',olympics_raw.columns)
print('population columns:',population_raw.columns)

flag columns: Index(['name', 'flag_nr_colors', 'flag_mainhue', 'flag_topleft_color',
       'flag_botright_color'],
      dtype='object')
gdp columns: Index(['country_name', 'country_code', 'indicator_name', 'indicator_code',
       'x1960', 'x1961', 'x1962', 'x1963', 'x1964', 'x1965', 'x1966', 'x1967',
       'x1968', 'x1969', 'x1970', 'x1971', 'x1972', 'x1973', 'x1974', 'x1975',
       'x1976', 'x1977', 'x1978', 'x1979', 'x1980', 'x1981', 'x1982', 'x1983',
       'x1984', 'x1985', 'x1986', 'x1987', 'x1988', 'x1989', 'x1990', 'x1991',
       'x1992', 'x1993', 'x1994', 'x1995', 'x1996', 'x1997', 'x1998', 'x1999',
       'x2000', 'x2001', 'x2002', 'x2003', 'x2004', 'x2005', 'x2006', 'x2007',
       'x2008', 'x2009', 'x2010', 'x2011', 'x2012', 'x2013', 'x2014', 'x2015',
       'x2016', 'x2017', 'x2018', 'x2019', 'x2020', 'x2021', 'x2022', 'x2023'],
      dtype='object')
olympics columns: Index(['game', 'medal_type', 'country_name', 'game_location', 'game_season',
       'game_year'],
      dtype='object')
population columns: Index(['entity', 'code', 'year', 'population'], dtype='object')

In [29]:
# Data check: Toon per dataframe het aantal lege waarden (NaN) per kolom
print("Lege waarden per kolom in df_flags:\n", flags_raw.isna().sum())
print("\nLege waarden per kolom in df_gdp:\n", gdp_raw.isna().sum())
print("\nLege waarden per kolom in df_olympics:\n", olympics_raw.isna().sum())
print("\nLege waarden per kolom in df_population:\n", population_raw.isna().sum())

Lege waarden per kolom in df_flags:
 name                   0
flag_nr_colors         0
flag_mainhue           0
flag_topleft_color     0
flag_botright_color    0
dtype: int64

Lege waarden per kolom in df_gdp:
 country_name        0
country_code        0
indicator_name      0
indicator_code      0
x1960             128
                 ...
x2019               8
x2020               9
x2021              10
x2022              16
x2023              32
Length: 68, dtype: int64

Lege waarden per kolom in df_olympics:
 game             0
medal_type       0
country_name     0
game_location    0
game_season      0
game_year        0
dtype: int64

Lege waarden per kolom in df_population:
 entity           0
code          1332
year             0
population       0
dtype: int64

### Q1- Transformations A. Melt

Het GDP-data.frame is in ‘messy format’. Ieder jaar heeft namelijk een eigen kolom,
waardoor een nieuw jaar toevoegen het toevoegen van een nieuwe kolom betekent. Het
is netter wanneer nieuwe observaties nieuwe rijen betekenen.
Maak vanuit het ruwe GDP-data.frame een nieuw data.frame met kolommen:
- `country_name`
- `country_code`
- `year` (het jaartal, afkomstig uit de kolomnamen in het format ‘xYYYY’). **Tip**: Gebruik value_vars=<your_dataframe>.columns[4:], in de functie om alle jaarkolommen op te halen. Hiermee worden alle kolommen vanaf positie 5 meegenomen.
- `gdp` (de waarde van gdp, afkomstig uit die kolommen)


Zie onderstaand voorbeeld hoe het getransformeerde GDP-data.frame eruit zou moeten zien.

![title](Voorbeelden/Q1_Transformaties_A_Voorbeeld.png)

In [30]:
# data bekijken
print(gdp_raw.head(4))

                  country_name country_code     indicator_name  \
0                        Aruba          ABW  GDP (current US$)
1  Africa Eastern and Southern          AFE  GDP (current US$)
2                  Afghanistan          AFG  GDP (current US$)
3   Africa Western and Central          AFW  GDP (current US$)

   indicator_code         x1960         x1961         x1962         x1963  \
0  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
1  NY.GDP.MKTP.CD  2.121696e+10  2.230747e+10  2.370247e+10  2.577938e+10
2  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
3  NY.GDP.MKTP.CD  1.188413e+10  1.268566e+10  1.360683e+10  1.443998e+10

          x1964         x1965  ...         x2014         x2015         x2016  \
0           NaN           NaN  ...  2.790850e+09  2.962907e+09  2.983635e+09
1  2.804954e+10  3.037491e+10  ...  9.796897e+11  8.992957e+11  8.298300e+11
2           NaN           NaN  ...  2.049713e+10  1.913422e+10  1.811657e+10
3  1.576911e+10  1.693448e+10  ...  8.945854e+11  7.693673e+11  6.921811e+11

          x2017         x2018         x2019         x2020         x2021  \
0  3.092429e+09  3.276184e+09  3.395799e+09  2.558906e+09  3.103184e+09
1  9.401055e+11  1.012719e+12  1.006527e+12  9.290741e+11  1.086772e+12
2  1.875346e+10  1.805322e+10  1.879944e+10  1.995593e+10  1.426650e+10
3  6.857502e+11  7.681896e+11  8.239336e+11  7.871467e+11  8.459930e+11

          x2022         x2023
0  3.544708e+09           NaN
1  1.183962e+12  1.236163e+12
2  1.450216e+10           NaN
3  8.771408e+11  7.965862e+11

[4 rows x 68 columns]

In [31]:

# After melting, remove the 'x' prefix from the year column and convert to integer. 
# This is necessary for correct merging later.
#gdp_long = gdp_long.assign(year=gdp_long['year'].str.replace('x', '').astype(int))

# 1: Melt de GDP-data hiermee maak je van elke jaar kolom een aparte rij per land 
gdp_long = pd.melt(
    gdp_raw,
    id_vars=['country_name', 'country_code'],  # vaste kolommen die gelijk blijven. Deze 2 kolommen worden niet gemelt
    value_vars=gdp_raw.columns[4:],            # alle jaarkolommen vanaf positie 5 hebben.
    var_name='year',                           # nieuwe kolom voor jaartal
    value_name='gdp'                           # nieuwe kolom voor GDP-waarde
)

# 2: Verwijder 'x' uit het jaartal en zet om naar integer
gdp_long['year'] = gdp_long['year'].str.replace('x', '').astype(int)

# 3: Bekijk het resultaat
print(gdp_long.head())
print(gdp_long.columns)

# controleer de nieuwe data types
#print(gdp_long.dtypes)

                  country_name country_code  year           gdp
0                        Aruba          ABW  1960           NaN
1  Africa Eastern and Southern          AFE  1960  2.121696e+10
2                  Afghanistan          AFG  1960           NaN
3   Africa Western and Central          AFW  1960  1.188413e+10
4                       Angola          AGO  1960           NaN
Index(['country_name', 'country_code', 'year', 'gdp'], dtype='object')

### Q1- Transformations B. Pivot

Ook het olympics-data.frame is niet in het format die we nodig hebben voor onze verder
analyse. Iedere regel is namelijk een enkele medaille, terwijl wij het aantal medailles per
land willen weten. Vind, per Land / Olympische Spelen / Medaillekleur-combinatie het
aantal medailles. Zorg dat je niet de informatie over locatie, seizoen en jaar verliest.


Vervolgens willen we graag dat GOLD, SILVER en BRONZE ieder een eigen kolom
hebben met het aantal medailles behaald van die kleur. Zie onderstaand voorbeeld hoe
het getransformeerde olympics-data.frame eruit zou moeten zien.

**Tip** Gebruik de argumenten aggfunc='size' (om medailles kleuren te tellen.) , fill_value=0 (voorkomt NaN, bij landen zonder die medaille kleur)

![title](Voorbeelden/Q1_Transformaties_B_Voorbeeld.png)

In [32]:
# Use pd.pivot_table instead of pd.pivot to handle the extra arguments aggfunc/fill_value. pivot_table is a more flexible function with the same syntax.
# After pivoting the medal_type to columns, reset the index to turn the multi-index into columns for easier merging later.
#<your_dataframe>.reset_index(inplace=True) 
#<,>.columns.name = None  # Remove the 'medal_type' name from columns - not needed but looks better

In [33]:
# olympics_raw data bekijken
print(olympics_raw.head(6))

          game medal_type country_name game_location game_season  game_year
0  athens-1896       GOLD    Australia        Greece      Summer       1896
1  athens-1896       GOLD    Australia        Greece      Summer       1896
2  athens-1896     BRONZE      Austria        Greece      Summer       1896
3  athens-1896       GOLD      Austria        Greece      Summer       1896
4  athens-1896     BRONZE      Austria        Greece      Summer       1896
5  athens-1896       GOLD      Austria        Greece      Summer       1896

In [34]:
# Pivot maken van de olympics data
olympics_pivot = pd.pivot_table(
    olympics_raw ,
    index=['country_name', 'game_year', 'game_location', 'game_season'],  # Groepeert op deze kolommen
    columns='medal_type',                                                 # medaillekleur wordt kolom
    aggfunc='size',                                                       # telt aantal medailles
    fill_value=0                                                          # vult lege waarden met 0
)
olympics_pivot.reset_index(inplace=True)
olympics_pivot.columns.name = None  # verwijder de naam van de kolomindex
print(olympics_pivot.head(6))

  country_name  game_year  game_location game_season  BRONZE  GOLD  SILVER
0  Afghanistan       2008          China      Summer       1     0       0
1  Afghanistan       2012  Great Britain      Summer       1     0       0
2      Algeria       1984  United States      Summer       2     0       0
3      Algeria       1992          Spain      Summer       1     1       0
4      Algeria       1996  United States      Summer       1     2       0
5      Algeria       2000      Australia      Summer       3     1       1

## Q2 – Joins
Voeg de dataframes (olympics, gdp, population, flags) samen tot één dataframe, alle observaties uit olympics behoudend. Gebruik de juiste keys.

##De gebruikte join-kolommen in jouw merges zijn:

df_olympics:
'country_name' en 'game_year' (land en jaar van de olympische spelen)
gdp_long:
'country_name' en 'year' (land en jaar voor GDP)
df_population:
'entity' (land) en 'year' (jaar voor populatie)
df_flags:
'name' (landnaam voor vlag)##

In [35]:
# controleer de nieuwe data types
#print(gdp_raw.columns)
print('gdp_long.columns:', gdp_long.columns)
print('olympics_raw.columns:', olympics_raw.columns)
print('olympics_pivot.columns:', olympics_pivot.columns)
print('population_raw.columns:', population_raw.columns)

gdp_long.columns: Index(['country_name', 'country_code', 'year', 'gdp'], dtype='object')
olympics_raw.columns: Index(['game', 'medal_type', 'country_name', 'game_location', 'game_season',
       'game_year'],
      dtype='object')
olympics_pivot.columns: Index(['country_name', 'game_year', 'game_location', 'game_season', 'BRONZE',
       'GOLD', 'SILVER'],
      dtype='object')
population_raw.columns: Index(['entity', 'code', 'year', 'population'], dtype='object')

In [36]:
# === Simpele joins (alle rijen uit olympics_pivot behouden) ===
# Zorg dat kolomnamen overeenkomen
olympics_pivot = olympics_pivot.rename(columns={"game_year": "year"})
population = population_raw.rename(columns={"entity": "country_name", "code": "country_code"})[["country_name", "year", "population"]]
flags_clean = flags_raw.rename(columns={"name": "country_name"})

# Olympics en GDP joinen
olympics_gdp = olympics_pivot.merge(
    gdp_long[["country_name", "year", "gdp"]],
    how="left",
    on=["country_name", "year"]
)

# Olympics, GDP en Population joinen
olympics_gdp_population = olympics_gdp.merge(
    population,
    how="left",
    on=["country_name", "year"]
)

# olympics, gdp, population en flags joinen en dat is finale set 
olympics_gdp_population_flags = olympics_gdp_population.merge(
    flags_clean,
    how="left",
    on="country_name"
)
print('finale data columns: ',olympics_gdp_population_flags.columns)
#print(olympics_gdp_population_flags.head())
print ('unieke game_season:',olympics_gdp_population_flags.game_season.unique())

finale data columns:  Index(['country_name', 'year', 'game_location', 'game_season', 'BRONZE',
       'GOLD', 'SILVER', 'gdp', 'population', 'flag_nr_colors', 'flag_mainhue',
       'flag_topleft_color', 'flag_botright_color'],
      dtype='object')
unieke game_season: ['Summer' 'Winter']

## Q3 – Functions and Conditions
Maak een functie met als output: een lijst van de landen die bij alle Spelen van een bepaald seizoen meer dan `x` gouden medailles hebben gehaald. Aggregeer en sommeer op medaillekleur per land.

De input argumenten van deze functie zijn:
- de data (het dataframe uit Q2)
- het seizoen (`Winter` of `Summer`)
- het aantal medailles (de grens waarboven het land in de output moet
voorkomen)

Zorg dat de functie ook werkt wanneer alleen de data wordt ingegeven (de andere twee
input argumenten moeten dus default-waardes hebben).

Zorg dat de functie een informatieve warning geeft wanneer input argument seizoen
geen valide waarde bevat.

In [37]:
def landen_met_x_gouden_medailles(data, seizoen='Summer', x_gouden=0):
    # Controleer op geldige seizoenswaarde
    if seizoen not in ['Winter', 'Summer']:
        raise ValueError("Ongeldig seizoen. Kies 'Winter' of 'Summer'.")
    
    # Filter de data op het gekozen seizoen
    gefilterde_data = data[data['game_season'] == seizoen]
    
    # Groepeer op land en jaar, en tel het aantal gouden medailles per editie
    goud_per_editie = gefilterde_data.groupby(['country_name', 'year'])['GOLD'].sum().reset_index()
    
    # Vind landen die in alle edities meer dan x gouden medailles hebben gehaald
    landen = []
    for land, groep in goud_per_editie.groupby('country_name'):
        if (groep['GOLD'] > x_gouden).all():
            landen.append(land)
    return landen

In [38]:
# x_gouden = 1, 2, 10, 20
# Test de functie met verschillende parameters
landen_met_gouden = landen_met_x_gouden_medailles(olympics_gdp_population_flags
                                                , seizoen='Winter'
                                                , x_gouden=1)
print(landen_met_gouden)

landen_met_gouden = landen_met_x_gouden_medailles(olympics_gdp_population_flags
                                                , seizoen='Winter'
                                                , x_gouden=2)
print(landen_met_gouden)

landen_met_gouden = landen_met_x_gouden_medailles(olympics_gdp_population_flags
                                                , seizoen='Summer'
                                                , x_gouden=10)
print(landen_met_gouden)

landen_met_gouden = landen_met_x_gouden_medailles(olympics_gdp_population_flags
                                                , seizoen='Summer'
                                                , x_gouden=20)
print(landen_met_gouden)

['Olympic Athletes from Russia', 'Republic of Korea', 'Russia', 'Russian Federation', 'Soviet Union', 'Unified Team']
['Russia', 'Russian Federation', 'Soviet Union', 'Unified Team']
['Russia', 'Soviet Union', 'Unified Team', 'United States']
['Soviet Union', 'Unified Team']

## Q4 – Functions and Iteration
Update de functie in Q3, door de volgende input argumenten toe te voegen:
- `kleur` (GOLD, SILVER, BRONZE)
- een parameter om te kiezen of je landen wilt met méér of minder dan de opgegeven grenswaarde als output.

Gebruik de functie om de volgende lijst als output te krijgen:
- Alle landen die tijdens alle Zomerspelen in totaal minder dan 1 gouden medaille hebben gehaald.


Itereer over de functie om het volgende te vinden:
- Alle landen die tijdens alle zomerspelen in totaal meer dan 50, meer dan 100, meer dan 250 en meer dan 500 gouden medailles hebben gehaald.


Dit zijn dus 4 lijstjes. Gebruik loops.

In [39]:
def landen_met_medaille(data, seizoen='Summer', grens=0, kleur='GOLD', meer=True):
    """
    Geeft een lijst van landen die bij alle Spelen van een bepaald seizoen meer/minder dan 'grens' medailles van een bepaalde kleur hebben gehaald.
    """
    if seizoen not in ['Winter', 'Summer']:
        print(f"Warning: '{seizoen}' is geen geldig seizoen. Kies 'Winter' of 'Summer'.")
        return []

    # Filter op seizoen
    df_seizoen = data[data['game_season'] == seizoen]

    # Controleer of de gekozen kleur een kolom is
    if kleur not in df_seizoen.columns:
        print(f"Warning: '{kleur}' is geen geldige medaillekleur-kolom in deze data.")
        return []

    # Groepeer per land en tel het totaal aantal medailles van de gekozen kleur
    aantal_per_land = df_seizoen.groupby('country_name')[kleur].sum()

    # Selecteer landen die voldoen aan de grens (meer/minder)
    if meer:
        landen = aantal_per_land[aantal_per_land > grens].index.tolist()
    else:
        landen = aantal_per_land[aantal_per_land < grens].index.tolist()
    return landen

In [40]:
# Alle landen die tijdens alle Zomerspelen in totaal minder dan 1 gouden medaille hebben gehaald
landen_minder_dan_1_goud = landen_met_medaille(olympics_gdp_population_flags, seizoen='Summer', grens=1, kleur='GOLD', meer=False)
print("Landen met minder dan 1 gouden medaille (Summer):", landen_minder_dan_1_goud)
print('Landen met minder dan 1 gouden medaille (Summer):', len(landen_minder_dan_1_goud), 'x landen')

Landen met minder dan 1 gouden medaille (Summer): ['Afghanistan', 'Barbados', 'Bohemia', 'Botswana', 'Burkina Faso', 'Cyprus', 'Djibouti', 'Eritrea', 'Gabon', 'Ghana', 'Guatemala', 'Guyana', 'Haiti', 'Iceland', 'Iraq', 'Kuwait', 'Kyrgyzstan', 'Lebanon', 'Malaysia', 'Mauritius', 'Montenegro', 'Namibia', 'Netherlands Antilles', 'Niger', 'North Macedonia', 'Paraguay', 'Republic of Moldova', 'Samoa', 'San Marino', 'Saudi Arabia', 'Senegal', 'Sri Lanka', 'Sudan', 'Togo', 'Tonga', 'Turkmenistan', 'United Arab Republic', 'United Republic of Tanzania', 'Virgin Islands, US', 'West Indies Federation', 'Zambia']
Landen met minder dan 1 gouden medaille (Summer): 41 x landen

In [41]:
# Loops voor meer dan 50, 100, 250, 500 gouden medailles
grenzen = [50, 100, 250, 500]
for grens in grenzen:
    landen_meer = landen_met_medaille(olympics_gdp_population_flags
                                      , seizoen='Summer'
                                      , grens=grens, kleur='GOLD'
                                      , meer=True)
    print(f"Landen met meer dan {grens} gouden medailles (Summer):", landen_meer)
    print(f'Landen met minder dan 1 gouden medaille (Summer):', len(landen_meer), 'x landen')

Landen met meer dan 50 gouden medailles (Summer): ['Australia', 'Bulgaria', 'Canada', 'China', 'Cuba', 'Federal Republic of Germany', 'Finland', 'France', 'German Democratic Republic (Germany)', 'Germany', 'Hungary', 'Italy', 'Japan', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Republic of Korea', 'Romania', 'Russian Federation', 'Soviet Union', 'Sweden', 'Switzerland', 'United Kingdom', 'United States']
Landen met minder dan 1 gouden medaille (Summer): 25 x landen
Landen met meer dan 100 gouden medailles (Summer): ['Australia', 'China', 'France', 'German Democratic Republic (Germany)', 'Germany', 'Hungary', 'Italy', 'Japan', 'Russian Federation', 'Soviet Union', 'Sweden', 'United Kingdom', 'United States']
Landen met minder dan 1 gouden medaille (Summer): 13 x landen
Landen met meer dan 250 gouden medailles (Summer): ['China', 'Soviet Union', 'United Kingdom', 'United States']
Landen met minder dan 1 gouden medaille (Summer): 4 x landen
Landen met meer dan 500 gouden medailles (Summer): ['United States']
Landen met minder dan 1 gouden medaille (Summer): 1 x landen