# DSBA Programming & Visualization
## Assignment 02


| **Item**            | **Details**              |
|----------------------|--------------------------|
| Deadline             | 26 oktober, 23:59u       |
| Data                 | olympics_raw.csv, flags_raw.csv, gdp_raw.csv, population_raw.csv  |
| Aantal vragen        | 4                        |


Lever een script of jupyter 
notebook in met daarin je code om de vragen te beantwoorden én in commentaren (#) 
uitleg waar nodig/gevraagd. Lever het script / notebook in via Canvas.

Gebruik vooral de slides en oefeningen die we in de colleges hebben behandeld

## Data
In deze assignment maken we wederom gebruik van een dataset over de Olympische
Spelen, 1896-2022. Daarnaast zijn gegevens beschikbaar over vlaggen,
inwonersaantallen en GDP. Het betreft de ruwe databestanden zoals die zijn gebruikt
om olympics_prepared.csv te maken, het bestand dat we in assignment 01 hebben
gebruikt. (Let op: olympics_prepared bevat alleen data van 1960–2022; vergelijkingen kunnen daardoor afwijken.)


Hieronder volgt een viertal vragen over deze dataset die met Python kunnen worden
beantwoord.

## Q1 – Transformations
Lees de data in vanuit de 4 `.csv`-bestanden.

In [1]:
import pandas as pd

# Data inlezen 

flags_path = 'flags_raw.csv'
gdp_path = 'gdp_raw.csv'
olympics_path = 'olympics_raw.csv'
population_path = 'population_raw.csv'

df_flags = pd.read_csv(flags_path)
df_gdp = pd.read_csv(gdp_path)
df_olympics = pd.read_csv(olympics_path)
df_population = pd.read_csv(population_path)

# Eerste paar rijen tonen ter controle
print(df_flags.head())
print(df_gdp.head())
print(df_olympics.head())
print(df_population.head())

             name  flag_nr_colors flag_mainhue flag_topleft_color  \
0     Afghanistan               5        green              black
1         Albania               3          red                red
2         Algeria               3        green              green
3  American-Samoa               5         blue               blue
4         Andorra               3         gold               blue

  flag_botright_color
0               green
1                 red
2               white
3                 red
4                 red
                  country_name country_code     indicator_name  \
0                        Aruba          ABW  GDP (current US$)
1  Africa Eastern and Southern          AFE  GDP (current US$)
2                  Afghanistan          AFG  GDP (current US$)
3   Africa Western and Central          AFW  GDP (current US$)
4                       Angola          AGO  GDP (current US$)

   indicator_code         x1960         x1961         x1962         x1963  \
0  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
1  NY.GDP.MKTP.CD  2.121696e+10  2.230747e+10  2.370247e+10  2.577938e+10
2  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
3  NY.GDP.MKTP.CD  1.188413e+10  1.268566e+10  1.360683e+10  1.443998e+10
4  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN

          x1964         x1965  ...         x2014         x2015         x2016  \
0           NaN           NaN  ...  2.790850e+09  2.962907e+09  2.983635e+09
1  2.804954e+10  3.037491e+10  ...  9.796897e+11  8.992957e+11  8.298300e+11
2           NaN           NaN  ...  2.049713e+10  1.913422e+10  1.811657e+10
3  1.576911e+10  1.693448e+10  ...  8.945854e+11  7.693673e+11  6.921811e+11
4           NaN           NaN  ...  1.359668e+11  9.049642e+10  5.276162e+10

          x2017         x2018         x2019         x2020         x2021  \
0  3.092429e+09  3.276184e+09  3.395799e+09  2.558906e+09  3.103184e+09
1  9.401055e+11  1.012719e+12  1.006527e+12  9.290741e+11  1.086772e+12
2  1.875346e+10  1.805322e+10  1.879944e+10  1.995593e+10  1.426650e+10
3  6.857502e+11  7.681896e+11  8.239336e+11  7.871467e+11  8.459930e+11
4  7.369015e+10  7.945069e+10  7.089796e+10  4.850156e+10  6.650513e+10

          x2022         x2023
0  3.544708e+09           NaN
1  1.183962e+12  1.236163e+12
2  1.450216e+10           NaN
3  8.771408e+11  7.965862e+11
4  1.043997e+11  8.472296e+10

[5 rows x 68 columns]
          game medal_type country_name game_location game_season  game_year
0  athens-1896       GOLD    Australia        Greece      Summer       1896
1  athens-1896       GOLD    Australia        Greece      Summer       1896
2  athens-1896     BRONZE      Austria        Greece      Summer       1896
3  athens-1896       GOLD      Austria        Greece      Summer       1896
4  athens-1896     BRONZE      Austria        Greece      Summer       1896
        entity code  year  population
0  Afghanistan  AFG  1950     7776182
1  Afghanistan  AFG  1951     7879343
2  Afghanistan  AFG  1952     7987783
3  Afghanistan  AFG  1953     8096703
4  Afghanistan  AFG  1954     8207953

In [113]:
# Data check: Toon de datatypes van de kolommen per ingelezen bestand
print(df_flags.dtypes)
print(df_gdp.dtypes)
print(df_olympics.dtypes)
print(df_population.dtypes)

name                   object
flag_nr_colors          int64
flag_mainhue           object
flag_topleft_color     object
flag_botright_color    object
dtype: object
country_name       object
country_code       object
indicator_name     object
indicator_code     object
x1960             float64
                   ...
x2019             float64
x2020             float64
x2021             float64
x2022             float64
x2023             float64
Length: 68, dtype: object
game             object
medal_type       object
country_name     object
game_location    object
game_season      object
game_year         int64
dtype: object
entity        object
code          object
year           int64
population     int64
dtype: object

In [2]:
# Data check: Toon per dataframe het aantal lege waarden (NaN) per kolom
print("Lege waarden per kolom in df_flags:\n", df_flags.isna().sum())
print("\nLege waarden per kolom in df_gdp:\n", df_gdp.isna().sum())
print("\nLege waarden per kolom in df_olympics:\n", df_olympics.isna().sum())
print("\nLege waarden per kolom in df_population:\n", df_population.isna().sum())

Lege waarden per kolom in df_flags:
 name                   0
flag_nr_colors         0
flag_mainhue           0
flag_topleft_color     0
flag_botright_color    0
dtype: int64

Lege waarden per kolom in df_gdp:
 country_name        0
country_code        0
indicator_name      0
indicator_code      0
x1960             128
                 ...
x2019               8
x2020               9
x2021              10
x2022              16
x2023              32
Length: 68, dtype: int64

Lege waarden per kolom in df_olympics:
 game             0
medal_type       0
country_name     0
game_location    0
game_season      0
game_year        0
dtype: int64

Lege waarden per kolom in df_population:
 entity           0
code          1332
year             0
population       0
dtype: int64

### Q1- Transformations A. Melt

Het GDP-data.frame is in ‘messy format’. Ieder jaar heeft namelijk een eigen kolom,
waardoor een nieuw jaar toevoegen het toevoegen van een nieuwe kolom betekent. Het
is netter wanneer nieuwe observaties nieuwe rijen betekenen.
Maak vanuit het ruwe GDP-data.frame een nieuw data.frame met kolommen:
- `country_name`
- `country_code`
- `year` (het jaartal, afkomstig uit de kolomnamen in het format ‘xYYYY’). **Tip**: Gebruik value_vars=<your_dataframe>.columns[4:], in de functie om alle jaarkolommen op te halen. Hiermee worden alle kolommen vanaf positie 5 meegenomen.
- `gdp` (de waarde van gdp, afkomstig uit die kolommen)


Zie onderstaand voorbeeld hoe het getransformeerde GDP-data.frame eruit zou moeten zien.

![title](Voorbeelden/Q1_Transformaties_A_Voorbeeld.png)

In [3]:
# data bekijken
print(df_gdp.head())

                  country_name country_code     indicator_name  \
0                        Aruba          ABW  GDP (current US$)
1  Africa Eastern and Southern          AFE  GDP (current US$)
2                  Afghanistan          AFG  GDP (current US$)
3   Africa Western and Central          AFW  GDP (current US$)
4                       Angola          AGO  GDP (current US$)

   indicator_code         x1960         x1961         x1962         x1963  \
0  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
1  NY.GDP.MKTP.CD  2.121696e+10  2.230747e+10  2.370247e+10  2.577938e+10
2  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
3  NY.GDP.MKTP.CD  1.188413e+10  1.268566e+10  1.360683e+10  1.443998e+10
4  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN

          x1964         x1965  ...         x2014         x2015         x2016  \
0           NaN           NaN  ...  2.790850e+09  2.962907e+09  2.983635e+09
1  2.804954e+10  3.037491e+10  ...  9.796897e+11  8.992957e+11  8.298300e+11
2           NaN           NaN  ...  2.049713e+10  1.913422e+10  1.811657e+10
3  1.576911e+10  1.693448e+10  ...  8.945854e+11  7.693673e+11  6.921811e+11
4           NaN           NaN  ...  1.359668e+11  9.049642e+10  5.276162e+10

          x2017         x2018         x2019         x2020         x2021  \
0  3.092429e+09  3.276184e+09  3.395799e+09  2.558906e+09  3.103184e+09
1  9.401055e+11  1.012719e+12  1.006527e+12  9.290741e+11  1.086772e+12
2  1.875346e+10  1.805322e+10  1.879944e+10  1.995593e+10  1.426650e+10
3  6.857502e+11  7.681896e+11  8.239336e+11  7.871467e+11  8.459930e+11
4  7.369015e+10  7.945069e+10  7.089796e+10  4.850156e+10  6.650513e+10

          x2022         x2023
0  3.544708e+09           NaN
1  1.183962e+12  1.236163e+12
2  1.450216e+10           NaN
3  8.771408e+11  7.965862e+11
4  1.043997e+11  8.472296e+10

[5 rows x 68 columns]

In [4]:

# After melting, remove the 'x' prefix from the year column and convert to integer. This is necessary for correct merging later.
#gdp_long = gdp_long.assign(year=gdp_long['year'].str.replace('x', '').astype(int))


# 1: Melt de GDP-data hiermee maak je van elke jaar kolom een aparte rij per land 
gdp_long = pd.melt(
    df_gdp,
    id_vars=['country_name', 'country_code'],  # vaste kolommen die gelijk blijven. Deze 2 kolommen worden niet gemelt
    value_vars=df_gdp.columns[4:],             # alle jaarkolommen vanaf positie 5 hebben.
    var_name='year',                           # nieuwe kolom voor jaartal
    value_name='gdp'                           # nieuwe kolom voor GDP-waarde
)

# 2: Verwijder 'x' uit het jaartal en zet om naar integer

gdp_long['year'] = gdp_long['year'].str.replace('x', '').astype(int)

# 3: Bekijk het resultaat
print(gdp_long.head())

# controleer de nieuwe data types
#print(gdp_long.dtypes)

                  country_name country_code  year           gdp
0                        Aruba          ABW  1960           NaN
1  Africa Eastern and Southern          AFE  1960  2.121696e+10
2                  Afghanistan          AFG  1960           NaN
3   Africa Western and Central          AFW  1960  1.188413e+10
4                       Angola          AGO  1960           NaN

### Q1- Transformations B. Pivot

Ook het olympics-data.frame is niet in het format die we nodig hebben voor onze verder
analyse. Iedere regel is namelijk een enkele medaille, terwijl wij het aantal medailles per
land willen weten. Vind, per Land / Olympische Spelen / Medaillekleur-combinatie het
aantal medailles. Zorg dat je niet de informatie over locatie, seizoen en jaar verliest.


Vervolgens willen we graag dat GOLD, SILVER en BRONZE ieder een eigen kolom
hebben met het aantal medailles behaald van die kleur. Zie onderstaand voorbeeld hoe
het getransformeerde olympics-data.frame eruit zou moeten zien.

**Tip** Gebruik de argumenten aggfunc='size' (om medailles kleuren te tellen.) , fill_value=0 (voorkomt NaN, bij landen zonder die medaille kleur)

![title](Voorbeelden/Q1_Transformaties_B_Voorbeeld.png)

In [117]:
# Use pd.pivot_table instead of pd.pivot to handle the extra arguments aggfunc/fill_value. pivot_table is a more flexible function with the same syntax.

# After pivoting the medal_type to columns, reset the index to turn the multi-index into columns for easier merging later.
#<your_dataframe>.reset_index(inplace=True) 
#<your_dataframe>.columns.name = None  # Remove the 'medal_type' name from columns - not needed but looks better

In [5]:
# Nogmaals de data bekijken
print(df_olympics.head())

          game medal_type country_name game_location game_season  game_year
0  athens-1896       GOLD    Australia        Greece      Summer       1896
1  athens-1896       GOLD    Australia        Greece      Summer       1896
2  athens-1896     BRONZE      Austria        Greece      Summer       1896
3  athens-1896       GOLD      Austria        Greece      Summer       1896
4  athens-1896     BRONZE      Austria        Greece      Summer       1896

In [119]:
# Pivot maken van de olympics data
olympics_pivot = pd.pivot_table(
    df_olympics,
    index=['country_name', 'game_year', 'game_location', 'game_season'],  # Groepeert op deze kolommen
    columns='medal_type',                                                 # medaillekleur wordt kolom
    aggfunc='size',                                                       # telt aantal medailles
    fill_value=0                                                          # vult lege waarden met 0
)
olympics_pivot.reset_index(inplace=True)
olympics_pivot.columns.name = None  # verwijder de naam van de kolomindex
print(olympics_pivot.head())

  country_name  game_year  game_location game_season  BRONZE  GOLD  SILVER
0  Afghanistan       2008          China      Summer       1     0       0
1  Afghanistan       2012  Great Britain      Summer       1     0       0
2      Algeria       1984  United States      Summer       2     0       0
3      Algeria       1992          Spain      Summer       1     1       0
4      Algeria       1996  United States      Summer       1     2       0

## Q2 – Joins
Voeg de dataframes (olympics, gdp, population, flags) samen tot één dataframe, alle observaties uit olympics behoudend. Gebruik de juiste keys.

##De gebruikte join-kolommen in jouw merges zijn:

df_olympics:
'country_name' en 'game_year' (land en jaar van de olympische spelen)
gdp_long:
'country_name' en 'year' (land en jaar voor GDP)
df_population:
'entity' (land) en 'year' (jaar voor populatie)
df_flags:
'name' (landnaam voor vlag)##

In [120]:
merged_df = df_olympics.merge(
    gdp_long,      # gdp_long gebruiken i.p.v. df_gdp
    how='left',
    left_on=['country_name', 'game_year'],
    right_on=['country_name', 'year']
).merge(
    df_population,
    how='left',
    left_on=['country_name', 'game_year'],
    right_on=['entity', 'year']  
).merge(
    df_flags,
    how='left',
    left_on='country_name',
    right_on='name'
)

print(merged_df.head())

          game medal_type country_name game_location game_season  game_year  \
0  athens-1896       GOLD    Australia        Greece      Summer       1896
1  athens-1896       GOLD    Australia        Greece      Summer       1896
2  athens-1896     BRONZE      Austria        Greece      Summer       1896
3  athens-1896       GOLD      Austria        Greece      Summer       1896
4  athens-1896     BRONZE      Austria        Greece      Summer       1896

  country_code  year_x  gdp entity code  year_y  population       name  \
0          NaN     NaN  NaN    NaN  NaN     NaN         NaN  Australia
1          NaN     NaN  NaN    NaN  NaN     NaN         NaN  Australia
2          NaN     NaN  NaN    NaN  NaN     NaN         NaN    Austria
3          NaN     NaN  NaN    NaN  NaN     NaN         NaN    Austria
4          NaN     NaN  NaN    NaN  NaN     NaN         NaN    Austria

   flag_nr_colors flag_mainhue flag_topleft_color flag_botright_color
0             3.0         blue              white                blue
1             3.0         blue              white                blue
2             2.0          red                red                 red
3             2.0          red                red                 red
4             2.0          red                red                 red

## Q3 – Functions and Conditions
Maak een functie met als output: een lijst van de landen die bij alle Spelen van een bepaald seizoen meer dan `x` gouden medailles hebben gehaald. Aggregeer en sommeer op medaillekleur per land.

De input argumenten van deze functie zijn:
- de data (het dataframe uit Q2)
- het seizoen (`Winter` of `Summer`)
- het aantal medailles (de grens waarboven het land in de output moet
voorkomen)

Zorg dat de functie ook werkt wanneer alleen de data wordt ingegeven (de andere twee
input argumenten moeten dus default-waardes hebben).

Zorg dat de functie een informatieve warning geeft wanneer input argument seizoen
geen valide waarde bevat.

In [121]:
def landen_met_goud(data, seizoen='Summer', grens=0):
    """
    Geeft een lijst van landen die bij alle Spelen van een bepaald seizoen meer dan 'grens' gouden medailles hebben gehaald.
    """
    if seizoen not in ['Winter', 'Summer']:
        print(f"Warning: '{seizoen}' is geen geldig seizoen. Kies 'Winter' of 'Summer'.")
        return []
    # Filter op seizoen
    df_seizoen = data[data['game_season'] == seizoen]

    # Groepeer per land en tel het totaal aantal gouden medailles
    goud_per_land = df_seizoen.groupby('country_name')['medal_type'].apply(lambda x: (x == 'GOLD').sum())

    # Selecteer landen die meer dan 'grens' gouden medailles hebben
    landen = goud_per_land[goud_per_land > grens].index.tolist()
    return landen

# Voorbeeldgebruik:
resultaat = landen_met_goud(merged_df, seizoen='Summer', grens=10)
print(resultaat)

['Argentina', 'Australia', 'Austria', 'Belarus', 'Belgium', 'Brazil', 'Bulgaria', 'Canada', 'China', 'Croatia', 'Cuba', 'Czech Republic', 'Czechoslovakia', "Democratic People's Republic of Korea", 'Denmark', 'Ethiopia', 'Federal Republic of Germany', 'Finland', 'France', 'German Democratic Republic (Germany)', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Islamic Republic of Iran', 'Italy', 'Jamaica', 'Japan', 'Kazakhstan', 'Kenya', 'MIX', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Republic of Korea', 'Romania', 'Russia', 'Russian Federation', 'South Africa', 'Soviet Union', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'Ukraine', 'Unified Team', 'United Kingdom', 'United States', 'Yugoslavia']

In [122]:
# Test 1: standaardwaarden
print("Test 1:", landen_met_goud(merged_df))

# Test 2: Summer, grens=10
print("Test 2:", landen_met_goud(merged_df, seizoen='Summer', grens=10))

# Test 3: Winter, grens=5
print("Test 3:", landen_met_goud(merged_df, seizoen='Winter', grens=5))

# Test 4: Ongeldig seizoen
print("Test 4:", landen_met_goud(merged_df, seizoen='Herfst', grens=1))

Test 1: ['Algeria', 'Argentina', 'Armenia', 'Australasia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Belarus', 'Belgium', 'Bermuda', 'Brazil', 'Bulgaria', 'Burundi', 'Cameroon', 'Canada', 'Chile', 'China', 'Chinese Taipei', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba', 'Czech Republic', 'Czechoslovakia', "Côte d'Ivoire", "Democratic People's Republic of Korea", 'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'Estonia', 'Ethiopia', 'Federal Republic of Germany', 'Fiji', 'Finland', 'France', 'Georgia', 'German Democratic Republic (Germany)', 'Germany', 'Greece', 'Grenada', 'Hong Kong, China', 'Hungary', 'Independent Olympic Athletes', 'India', 'Indonesia', 'Ireland', 'Islamic Republic of Iran', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Latvia', 'Lithuania', 'Luxembourg', 'MIX', 'Mexico', 'Mongolia', 'Morocco', 'Mozambique', 'Netherlands', 'New Zealand', 'Nigeria', 'Norway', 'Pakistan', 'Panama', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea', 'Romania', 'Russia', 'Russian Federation', 'Serbia', 'Serbia and Montenegro', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'Soviet Union', 'Spain', 'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'Unified Team', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yugoslavia', 'Zimbabwe']
Test 2: ['Argentina', 'Australia', 'Austria', 'Belarus', 'Belgium', 'Brazil', 'Bulgaria', 'Canada', 'China', 'Croatia', 'Cuba', 'Czech Republic', 'Czechoslovakia', "Democratic People's Republic of Korea", 'Denmark', 'Ethiopia', 'Federal Republic of Germany', 'Finland', 'France', 'German Democratic Republic (Germany)', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Islamic Republic of Iran', 'Italy', 'Jamaica', 'Japan', 'Kazakhstan', 'Kenya', 'MIX', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Republic of Korea', 'Romania', 'Russia', 'Russian Federation', 'South Africa', 'Soviet Union', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'Ukraine', 'Unified Team', 'United Kingdom', 'United States', 'Yugoslavia']
Test 3: ['Australia', 'Austria', 'Belarus', 'Canada', 'China', 'Czech Republic', 'Federal Republic of Germany', 'Finland', 'France', 'German Democratic Republic (Germany)', 'Germany', 'Italy', 'Japan', 'Netherlands', 'Norway', 'Poland', 'Republic of Korea', 'Russia', 'Russian Federation', 'Soviet Union', 'Sweden', 'Switzerland', 'Unified Team', 'United Kingdom', 'United States']
Warning: 'Herfst' is geen geldig seizoen. Kies 'Winter' of 'Summer'.
Test 4: []

## Q4 – Functions and Iteration
Update de functie in Q3, door de volgende input argumenten toe te voegen:
- `kleur` (GOLD, SILVER, BRONZE)
- een parameter om te kiezen of je landen wilt met méér of minder dan de opgegeven grenswaarde als output.

Gebruik de functie om de volgende lijst als output te krijgen:
- Alle landen die tijdens alle Zomerspelen in totaal minder dan 1 gouden medaille hebben gehaald.


Itereer over de functie om het volgende te vinden:
- Alle landen die tijdens alle zomerspelen in totaal meer dan 50, meer dan 100, meer dan 250 en meer dan 500 gouden medailles hebben gehaald.


Dit zijn dus 4 lijstjes. Gebruik loops.

In [123]:
def landen_met_medaille(data, seizoen='Summer', grens=0, kleur='GOLD', meer=True):
    """
    Geeft een lijst van landen die bij alle Spelen van een bepaald seizoen meer/minder dan 'grens' medailles van een bepaalde kleur hebben gehaald.
    """
    if seizoen not in ['Winter', 'Summer']:
        print(f"Warning: '{seizoen}' is geen geldig seizoen. Kies 'Winter' of 'Summer'.")
        return []

    # Filter op seizoen
    df_seizoen = data[data['game_season'] == seizoen]

    # Groepeer per land en tel het totaal aantal medailles van de gekozen kleur
    aantal_per_land = df_seizoen.groupby('country_name')['medal_type'].apply(lambda x: (x == kleur).sum())

    # Selecteer landen die voldoen aan de grens (meer/minder)
    if meer:
        landen = aantal_per_land[aantal_per_land > grens].index.tolist()
    else:
        landen = aantal_per_land[aantal_per_land < grens].index.tolist()
    return landen

# Alle landen die tijdens alle Zomerspelen in totaal minder dan 1 gouden medaille hebben gehaald
landen_minder_dan_1_goud = landen_met_medaille(merged_df, seizoen='Summer', grens=1, kleur='GOLD', meer=False)
print("Landen met minder dan 1 gouden medaille (Summer):", landen_minder_dan_1_goud)

# Loops voor meer dan 50, 100, 250, 500 gouden medailles
grenzen = [50, 100, 250, 500]
for grens in grenzen:
    landen_meer = landen_met_medaille(merged_df, seizoen='Summer', grens=grens, kleur='GOLD', meer=True)
    print(f"Landen met meer dan {grens} gouden medailles (Summer):", landen_meer)

Landen met minder dan 1 gouden medaille (Summer): ['Afghanistan', 'Barbados', 'Bohemia', 'Botswana', 'Burkina Faso', 'Cyprus', 'Djibouti', 'Eritrea', 'Gabon', 'Ghana', 'Guatemala', 'Guyana', 'Haiti', 'Iceland', 'Iraq', 'Kuwait', 'Kyrgyzstan', 'Lebanon', 'Malaysia', 'Mauritius', 'Montenegro', 'Namibia', 'Netherlands Antilles', 'Niger', 'North Macedonia', 'Paraguay', 'Republic of Moldova', 'Samoa', 'San Marino', 'Saudi Arabia', 'Senegal', 'Sri Lanka', 'Sudan', 'Togo', 'Tonga', 'Turkmenistan', 'United Arab Republic', 'United Republic of Tanzania', 'Virgin Islands, US', 'West Indies Federation', 'Zambia']
Landen met meer dan 50 gouden medailles (Summer): ['Australia', 'Bulgaria', 'Canada', 'China', 'Cuba', 'Federal Republic of Germany', 'Finland', 'France', 'German Democratic Republic (Germany)', 'Germany', 'Hungary', 'Italy', 'Japan', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Republic of Korea', 'Romania', 'Russian Federation', 'Soviet Union', 'Sweden', 'Switzerland', 'United Kingdom', 'United States']
Landen met meer dan 100 gouden medailles (Summer): ['Australia', 'China', 'France', 'German Democratic Republic (Germany)', 'Germany', 'Hungary', 'Italy', 'Japan', 'Russian Federation', 'Soviet Union', 'Sweden', 'United Kingdom', 'United States']
Landen met meer dan 250 gouden medailles (Summer): ['China', 'Soviet Union', 'United Kingdom', 'United States']
Landen met meer dan 500 gouden medailles (Summer): ['United States']