## Execise 1: Transforming strings into dates

### Prerequisites
1. Load in the flightsttimes dataset.
2. Transform the following columns to datetime: dep_time, sched_dep_time, arr_time, sched_arr_time,

In [7]:
import pandas as pd
flights = pd.read_csv("flighttimes.csv")

#### A. Create a new column "dep_delay" containing the difference in minutes between the scheduled departure and the actual departure.

In [16]:
import pandas as pd
# Voorbeeld DataFrame 'flights' aanmaken (indien nodig)
# flights = pd.DataFrame({
#     'dep_time': [1200, 1330, None],
#     'sched_dep_time': [1215, 1345, None]
# })
# Zorg ervoor dat de datatypes correct zijn
# Convert columns to datetime
flights['dep_time'] = pd.to_datetime(flights['dep_time'], errors='coerce')
flights['sched_dep_time'] = pd.to_datetime(flights['sched_dep_time'], errors='coerce')

flights['dep_time']
flights['sched_dep_time']

0        2013-01-01 05:15:00
1        2013-01-01 05:29:00
2        2013-01-01 05:40:00
3        2013-01-01 05:45:00
4        2013-01-01 06:00:00
                 ...
336771   2013-09-30 14:55:00
336772   2013-09-30 22:00:00
336773   2013-09-30 12:10:00
336774   2013-09-30 11:59:00
336775   2013-09-30 08:40:00
Name: sched_dep_time, Length: 336776, dtype: datetime64[ns]

In [18]:
# Nieuwe kolom 'dep_delay' toevoegen (difference in minutes)
flights = flights.assign(
    dep_delay=lambda x: (
        (x['dep_time'] - x['sched_dep_time']).dt.total_seconds() / 60
    )
)

# Optioneel: Laat de nieuwe DataFrame zien met 'dep_delay'
#print(flights)
# Laat alleen de drie gewenste kolommen zien
result = flights[['dep_time', 'sched_dep_time', 'dep_delay']]
# Toon het resultaat
print(result)

                  dep_time      sched_dep_time  dep_delay
0      2013-01-01 05:17:00 2013-01-01 05:15:00        2.0
1      2013-01-01 05:33:00 2013-01-01 05:29:00        4.0
2      2013-01-01 05:42:00 2013-01-01 05:40:00        2.0
3      2013-01-01 05:44:00 2013-01-01 05:45:00       -1.0
4      2013-01-01 05:54:00 2013-01-01 06:00:00       -6.0
...                    ...                 ...        ...
336771                 NaT 2013-09-30 14:55:00        NaN
336772                 NaT 2013-09-30 22:00:00        NaN
336773                 NaT 2013-09-30 12:10:00        NaN
336774                 NaT 2013-09-30 11:59:00        NaN
336775                 NaT 2013-09-30 08:40:00        NaN

[336776 rows x 3 columns]

#### B. What is the average dep_delay for flights leaving from LGA?

In [23]:
# Zorg ervoor dat de datatypes correct zijn voor dep_delay
flights['dep_delay'] = flights['dep_delay'].astype(float)
flights['dep_delay']

0         2.0
1         4.0
2         2.0
3        -1.0
4        -6.0
         ...
336771    NaN
336772    NaN
336773    NaN
336774    NaN
336775    NaN
Name: dep_delay, Length: 336776, dtype: float64

In [ ]:
# Filter de DataFrame voor vluchten van LGA
lga_flights = flights[flights['origin'] == 'LGA']
lga_flights

,dep_time,sched_dep_time,arr_time,sched_arr_time,carrier,flight,tailnum,origin,dest,distance,origin_lat,origin_long,dest_lat,dest_long,dep_delay
1,2013-01-01 05:33:00,2013-01-01 05:29:00,2013-01-01 08:50,2013-01-01 08:30,UA,1714,N24211,LGA,IAH,1416,40.777243,-73.872609,29.980472,-95.339722,4.0
4,2013-01-01 05:54:00,2013-01-01 06:00:00,2013-01-01 08:12,2013-01-01 08:37,DL,461,N668DN,LGA,ATL,762,40.777243,-73.872609,33.640444,-84.426944,-6.0
7,2013-01-01 05:57:00,2013-01-01 06:00:00,2013-01-01 07:09,2013-01-01 07:23,EV,5708,N829AS,LGA,IAD,229,40.777243,-73.872609,38.944532,-77.455810,-3.0
9,2013-01-01 05:58:00,2013-01-01 06:00:00,2013-01-01 07:53,2013-01-01 07:45,AA,301,N3ALAA,LGA,ORD,733,40.777243,-73.872609,41.979595,-87.904464,-2.0
14,2013-01-01 05:59:00,2013-01-01 06:00:00,2013-01-01 09:41,2013-01-01 09:10,AA,707,N3DUAA,LGA,DFW,1389,40.777243,-73.872609,32.895951,-97.037200,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336770,NaT,2013-09-30 18:42:00,NaN,2013-09-30 20:19,EV,5274,N740EV,LGA,BNA,764,40.777243,-73.872609,36.124477,-86.678182,NaN
336772,NaT,2013-09-30 22:00:00,NaN,2013-09-30 23:12,9E,3525,NaN,LGA,SYR,198,40.777243,-73.872609,43.111187,-76.106311,NaN
336773,NaT,2013-09-30 12:10:00,NaN,2013-09-30 13:30,MQ,3461,N535MQ,LGA,BNA,764,40.777243,-73.872609,36.124477,-86.678182,NaN
336774,NaT,2013-09-30 11:59:00,NaN,2013-09-30 13:44,MQ,3572,N511MQ,LGA,CLE,419,40.777243,-73.872609,41.410894,-81.849397,NaN
336775,NaT,2013-09-30 08:40:00,NaN,2013-09-30 10:20,MQ,3531,N839MQ,LGA,RDU,431,40.777243,-73.872609,35.877639,-78.787472,NaN

In [22]:
# Bereken de gemiddelde dep_delay voor LGA-vluchten
average_dep_delay = lga_flights['dep_delay'].mean()

# Toon het resultaat
print(f"Average dep_delay for flights leaving from LGA: {average_dep_delay}")

Average dep_delay for flights leaving from LGA: 10.3468756464944

#### C. Compute the average dep_delay for each carrier in the dataset.

In [44]:
# Zorg ervoor dat de dep_delay kolom de juiste datatype heeft
flights['dep_delay'] = flights['dep_delay'].astype(float)

# Groeperen op carrier en gemiddelde dep_delay berekenen
average_dep_delay_per_carrier = flights.groupby('carrier')['dep_delay'].mean().reset_index() 

# Optioneel: Het resultaat een nieuwe naam geven
average_dep_delay_per_carrier.columns = ['carrier', 'average_dep_delay']

# Toon het resultaat
print(average_dep_delay_per_carrier)

   carrier  average_dep_delay
0       9E          16.725769
1       AA           8.586016
2       AS           5.804775
3       B6          13.022522
4       DL           9.264505
5       EV          19.955390
6       F9          20.215543
7       FL          18.726075
8       HA           4.900585
9       MQ          10.552041
10      OO          12.586207
11      UA          12.106073
12      US           3.782418
13      VX          12.869421
14      WN          17.711744
15      YV          18.996330

#### D. For flights longer than 1000 km (distance), calculate:

1. The actual air time (arr_time - dep_time)

2. The planned air time (sched_arr_time - sched_dep_time)

3. Compare the average between the two: what do you notice about actual vs scheduled flight times?

In [47]:
# Zorg ervoor dat de tijdsformaten correct zijn: hier gaan we ervan uit dat ze integer zijn (bijv. 1200 is 12:00)
# Zet arr_time en dep_time om naar integers (indien mogelijk)
flights['arr_time_int'] = pd.to_numeric(flights['arr_time'], errors='coerce')
flights['dep_time_int'] = pd.to_numeric(flights['dep_time'], errors='coerce')

# Bereken de werkelijke vliegtijd
flights['actual_air_time'] = (
    (flights['arr_time_int'] // 100) * 60 + (flights['arr_time_int'] % 100) -
    ((flights['dep_time_int'] // 100) * 60 + (flights['dep_time_int'] % 100))
)

flights['actual_air_time'] = flights['actual_air_time'].astype(float)
flights['actual_air_time'] = flights['actual_air_time'].fillna(0)
flights['actual_air_time']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
336771    0.0
336772    0.0
336773    0.0
336774    0.0
336775    0.0
Name: actual_air_time, Length: 336776, dtype: float64

In [38]:
# Zet sched_arr_time en sched_dep_time om naar integers (indien nodig)
flights['sched_arr_time_int'] = pd.to_numeric(flights['sched_arr_time'], errors='coerce')
flights['sched_dep_time_int'] = pd.to_numeric(flights['sched_dep_time'], errors='coerce')

# Bereken de geplande vliegtijd
flights['planned_air_time'] = (
    (flights['sched_arr_time_int'] // 100) * 60 + (flights['sched_arr_time_int'] % 100) -
    ((flights['sched_dep_time_int'] // 100) * 60 + (flights['sched_dep_time_int'] % 100))
)

In [41]:
# Filter op afstand groter dan 1000 km
long_flights = flights[flights['distance'] > 1000]

In [42]:
# Bereken gemiddelde van de werkelijke en geplande vliegtijd
average_actual_air_time = long_flights['actual_air_time'].mean()
average_planned_air_time = long_flights['planned_air_time'].mean()
print(f"Average actual air time for flights over 1000 km: {average_actual_air_time} minutes")
print(f"Average planned air time for flights over 1000 km: {average_planned_air_time} minutes")

Average actual air time for flights over 1000 km: nan minutes
Average planned air time for flights over 1000 km: nan minutes

In [43]:
# Toon de resultaten
print(f"Average Actual Air Time (min): {average_actual_air_time}")
print(f"Average Planned Air Time (min): {average_planned_air_time}")
# Vergelijk de twee gemiddelden
if average_actual_air_time > average_planned_air_time:
    conclusion = "Flights are taking longer than scheduled."
elif average_actual_air_time < average_planned_air_time:
    conclusion = "Flights are taking shorter than scheduled."
else:
    conclusion = "Flights are on time with the schedule."
print("Conclusion:", conclusion)

Average Actual Air Time (min): nan
Average Planned Air Time (min): nan
Conclusion: Flights are on time with the schedule.

#### E. Calculate the average departure delay (dep_delay) for each destination airport. Are there airports that consistently have longer delays?

## Exercise 2: Errors

This code has several bugs - can you find and fix them?

In [58]:
# Calculate the average departure delay for each destination airport and show the top 3 worst airports.
# This code has several bugs - can you find and fix them?
# Use the already loaded 'flights' DataFrame

# Calculate average departure delay for each destination airport and show the top 3 worst airports
avg_delays = flights.groupby("dest")["dep_delay"].mean().sort_values(ascending=False)

# Show top 3 worst airports
print("Top 3 worst airports for delays:", avg_delays.head(3))

Top 3 worst airports for delays: dest
CAE    35.570093
TUL    34.906355
OKC    30.568807
Name: dep_delay, dtype: float64