# Data Wrangling: Exercises

---
Erasmus Q-Intelligence B.V.

---

Below is a set of exercises. For every question, an empty code cell is provided where you can add your code that serves as an answer to the question. If there are additional questions regarding interpreting what you see, you can do so by adding comments (start with `#`), or adding a *Markdown* cell below or above the *Code* cell, and providing your findings there.

## Exercise 1: query()

Use the flights data from the file flights.csv. The data set contains information on flights
from airports in New York in 2013.

### a
Find all flights without any delay on departure (dep delay) and with at least 2 hours delay
on arrival (arr delay)

In [ ]:
import pandas as pd

flights = pd.read_csv("flights.csv")

### b
Find all flights of carriers United (UA), American (AA) and Delta (DL)

## Exercise 2: sort_values()

### a
Sort the flights dataset in such a way that flights with the highest delay at arrival
(arr delay) come first.

### b
Sort the flights dataset in such a way that flights with tailnum equal to NaN come first.

## Exercise 3: filter and loc()

### a
 Select all columns that end with time or with delay.

## Exercise 4: assign()
### a

The sched_dep_time column is formatted like a digital clock, where 515 actually means 5:15. Use
assign() to create a column sched_dep_time_in_mins which gives the total number of minutes since
midnight.

## Exercise 5. agg() and groupby()

### a
Calculate the number of canceled flights by month, the total number of flights per month and
the amount of canceled flights per month. Sort the new data.frame such that months
with the highest amount of canceled flights come first. Canceled flights either have no
dep time or do not have arr time.

Use: flights_with_status = flights.assign(is_canceled = (flights['dep_time'].isna() | flights['arr_time'].isna())) to create the column that gets the canceled flights

In [ ]:
flights_with_status = flights.assign(is_canceled = (flights['dep_time'].isna() | flights['arr_time'].isna()))

### b
Calculate the minimum, maximum, mean, median and standard deviation of air_time by
dest. Sort the new data.frame such that destinations with the highest mean air time
comes first.

## Exercise 6. groupby(), query() and assign()

### a
Add a column dep_delay_lag to flights, with dep delay of the previous flight from that
airport. (We use the .shift function here, which isn't covered in the lessons)

Show the dataframe with the origin, dest, dep_delay and dep_delay_lag columns

In [ ]:
# 1. Shift values down by 1 position within each group (airport) 2.  Creates a "previous flight" reference for each flight from the same origin airport
# 3. The first flight from each airport gets NaN since there's no previous flight
flightsdepdelay = flights.assign(dep_delay_lag = flights.groupby('origin')['dep_delay'].shift(1))

### b 
Filter the observations such that you only have those where neither dep delay, nor dep delay lag is missing. Use the dataframe: flightsdepdelay from 6.a

Tip use .notnull()

### c

Find the average of dep_delay, separate for each value of dep_delay_lag and for each origin
using groupby. Name this variable dep delay avg. Use the dataframe from 6.b

### d 
Visualize the relation (using a scatter plot) between dep delay lag and dep delay avg, where
the color of the point depends on origin.

In [ ]:
import seaborn as sns

## Exercise 7. combined
Consider the forsale.Rds-dataset from Canvas. It contains information about houses for sale
in Rotterdam area during the recent past.

### a 
Load the data from canvas

In [ ]:
forsale = pd.read_csv("forsale.csv")
forsale

### b 
Show the first 10 observations, with only the variables postcode, city, suburb,
asking price and living area.

### c 
Add a variable to the original dataframe forsale that contains the price per square metre.
Call this column price_m2.

### d 
Calculate the number of houses in this dataset in each city, as well as the minimum, average
and maximum asking price. Which city is the cheapest, on average?

### e 
Create a subset of the forsale dataset called forsalesubset, which contains only houses that satisfy
the following criteria: it is within the city of Rotterdam, it has at least 3 bedrooms and 2
bathrooms and costs no more than 400.000 euro.

### g 
Sort the new dataframe such that those with the highest asking_price occur first.

## Exercise 8. nunique & isna

### a 
Load the penguins-data from penguins.csv. The data is on penguin
species in Palmer Archipelago.

In [ ]:
penguins = pd.read_csv("penguins.csv")
penguins

### b
 Get the number of distinct categories for all variables, using the function nunique().

### c 
Get the number of distinct categories, only for species, island, year and sex.

### d
Get the number of missing values, only for the variables of type factor (categorical variables). Use isna()

### e 
Get the number of missing values for all columns that start with bill_

## Exercise 9. join
### a 
Add name from the airlines data set (available from the nycflights13-
package, you have to pip install nycflights13 if you haven't already) to the flights-dataframe. Which
key should be used?

In [ ]:
from nycflights13 import airlines
airlines

## Exercise 10. tidy data - Melt
### a 
Load the data melt_example.csv from Canvas. The data is on the distribution of male and female in the US navy.

In [ ]:
melt = pd.read_csv("melt_example.csv")
melt = melt.filter(melt.columns[1:]) # Removes the first column which is a fake index leftover from R
melt

 Take all the columns (except paygrade) and "melt" them into two new columns - one for the column names (gender_marital) and one for their values (amount).

## Exercise 11. tidy data - Pivot
### a 
Load the data on NBA players and points scored (fictive) from Canvas.

In [ ]:
nba = pd.read_csv("nba.csv")
nba = nba.filter(nba.columns[1:]) # Removes the first column which is a fake index leftover from R
nba

### b
Use pivot to transform the long format data into wide format, where each unique value in the 'day' column becomes a separate column, with 'player' and 'team' as row identifiers and 'points' as the values."